UI/pkgs/Wadl/flowStatus.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="flowStatus" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="flowStatus" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_2" type="string" />
      </object>
      <string name="ResponseActionOutput_response_def_items_def_title_def" />
      <string name="ResponseActionOutput_response_def_items_def_url_def" />
      <string name="ResponseActionOutput_response_def_items_def_group_owners_def" />
      <string name="ResponseActionOutput_response_def_items_def_security_classification_def" />
      <object name="ResponseActionOutput_response_def_items_def">
        <property name="title" type="string" />
        <property name="url" type="string" />
        <property name="group_owners" type="string" />
        <property name="security_classification" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_response_def_items_def" name="ResponseActionOutput_response_def" />
      <object name="ResponseActionOutput">
        <property name="response" typeRef="ResponseActionOutput_response_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="GUID" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="JSON" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>